# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm
.env
.env.deploy
log.request.log
log.error.log

# Optional REPL history
.DS_Store
.idea
.vscode

# Typescript build
dist
